body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  padding-right: 15px;
}

.card {
  height: 100%;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
